.App {
    text-align: center;
}

/* .body {
    background-color: bisque;
} */
.col {
    border: 1px solid black;
    margin: 10px;
}

.button {
    background-color: lightcoral;
}

.button.selected {
    background-color: green;
}
/* style={{
    backgroundColor: isSelected ? "green" : "lightgray", // Change color based on selection
    color: "white",
    border: "none",
    padding: "10px 20px",
    cursor: "pointer",
    transition: "background-color 0.3s", // Smooth transition for color change
}} */
